.bg_img {
    background-image: url("https://source.unsplash.com/random");
    box-sizing: border-box;
    margin: 0;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    background-repeat: no-repeat;
    background-color: #fafafa;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.footer_form {
    margin-top: 20px;
    .footer_form_btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        button,
        a {
            flex-basis: 48%;
            margin: 10px 0;
            width: 100%;
            height: 56px;
        }
    }
    span {
        padding: 0;
    }
}

.form {
    h3 {
        text-align: center;
    }
}
