.play_music {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: rgba(0, 0, 0, 0.5);
    background: #fff;
    border: #000 solid 1px;
    z-index: 999;
    display: flex;
    .play_item_control {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        .btn_group {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: flex-end;
        }
        .time_control {
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            .time {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 10px 0 -10px 0;
                span {
                    font-size: 12px;
                }
            }
        }
    }

    .volume {
        display: flex;
        align-items: center;
        .volume_control {
            position: relative;
            .volume_slider {
                display: none;
                position: absolute;
                background-color: #fff;
                border: #ccc solid 1px;
                left: 0px;
                bottom: 35px;
                height: 100px;
                width: 100%;
                padding: 10px 0;
            }
        }
        .volume_control:hover .volume_slider {
            display: flex;
            justify-content: center;
        }
    }

    .cart_info {
        h4{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
        }
        span{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
